asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
coverage==7.9.1
crispy-bootstrap5==2025.4
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.2.5
django-cache-url==3.4.5
django-crispy-forms==2.4
environs==14.1.1
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
marshmallow==3.26.1
packaging==24.2
pluggy==1.6.0
psycopg==3.2.9
psycopg-binary==3.2.9
Pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
pytest-mock==3.14.1
python-dotenv==1.1.0
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.5.0
whitenoise==6.9.0
