asgiref==3.8.1
crispy-bootstrap5==2025.4
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.2
django-cache-url==3.4.5
django-crispy-forms==2.4
environs==14.1.1
marshmallow==3.26.1
packaging==24.2
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.13.2
