{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}本の登録{% endblock title %}
{% block content %}


<h1>本の登録</h1>
<form action="" method="post">{% csrf_token %}
    <div class="form-group row align-items-center">
        <div class="col-auto">
            {{ book_form.isbn|as_crispy_field }}
        </div>
        <div class="col-auto">
            <button type="button" id="fetch-isbn" class="btn btn-primary py-2">ISBNで取得</button>
        </div>
    </div>
    {# isbn以外のフィールドをまとめて表示 #}
    {% for field in book_form %}
    {% if field.name != 'isbn' %}
    {{ field|as_crispy_field }}
    {% endif %}
    {% endfor %}

    <!-- 書影用の要素をフォームの近くに追加 -->
    <img id="book-cover" src="" alt="書影" style="max-width: 200px; margin-top: 10px; display: none;">

    {{ copy_form|crispy }}
    <button class="btn btn-success ml-2" type="submit">本の登録</button>
</form>



{% endblock content %}

{% block extra_js %}
<!-- JavaScript-->
<script src="{% static 'js/catalog/book_form.js' %}"></script>
{% endblock %}