{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}蔵書の登録 - 蔵書情報の登録{% endblock title %}
{% block content %}

<h1>蔵書の登録 - 蔵書情報を登録してください</h1>

{% if book %}
<div class="mb-4 d-flex align-items-start">
    {% if book.image_url %}
    <img src="{{ book.image_url }}" alt="{{ book.title }} の書影" class="img-fluid rounded border shadow-sm"
        style="max-width: 150px; margin-right: 20px;">
    {% endif %}
    <div>
        <h2 class="h5">登録対象の書籍情報</h2>
        <div class="table-responsive" style="max-width: 500px;">
            <table class="table table-bordered table-sm mb-0">
                <tbody>
                    <tr>
                        <th scope="row">タイトル</th>
                        <td>{{ book.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">著者</th>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <th scope="row">出版社</th>
                        <td>{{ book.publisher }}</td>
                    </tr>
                    <tr>
                        <th scope="row">出版日</th>
                        <td>{{ book.published_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

<div class="alert alert-info">
    <p>この画面では、蔵書の「保存場所」や「状態」など、実際に所蔵する蔵書の情報を登録してください。</p>
</div>

<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">蔵書の登録</button>
</form>

{% endblock content %}